APP_PORT=8000
DATABASE_URL=connection_url_here
RUN_MIGRATION=false
RUN_SEEDER=false
APP_ENV=development
ALLOW_ORIGINS=http://localhost:5173

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION=24h

ADMIN_PASSWORD_ONE=admin_password_here
ADMIN_PASSWORD_TWO=admin_password_here